extends template.pug

block content
  header
    span Test de herramientas de la charla de Manz

  .container
    p En este repositorio se integran la mayoría de herramientas que hemos visto en la charla de Manz
    .row.images
      .col-md-3
        img(src='images/pug.svg')
      .col-md-3
        img(src='images/less.png')
      .col-md-3
        img(src='images/gulp.png')
      .col-md-3
        img(src='images/webpack.jpg')

    .row#ajax
