doctype html
html(lang='es')
  head
    meta(charset='utf-8')
    title 'Página de ejemplo'

    meta(name='description' content='Página de ejemplo')
    meta(name='author' content='Daniel Ramos')

    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')

    link(rel='stylesheet' href='styles.min.css')

  body
    block content
    script(src='main.min.js')
